body {
  margin: 0;
  padding: 0;
  font-family: "inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg);
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg: #e5e5e5;
  --white-color: #fff;
  --grey-color: rgb(204, 193, 193);
  --dec-color: rgb(157, 147, 147);
  --green-color: #a5d364;
  --green-color-hover: #90ba56;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  width: 30px;
  height: 30px;
}

.listReset {
  list-style: none;
}

.btn {
  border: none;
  color: var(--white-color);
  background-color: var(--green-color);
  border-radius: 10px;
  height: 40px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--green-color-hover);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.app {
  margin-top: 50px;
}

.wrapper {
  padding: 15px;
  background-color: var(--white-color);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

//header
.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid var(--main-bg);
}

.headerLeft {
  display: flex;
  align-items: center;
  img {
    margin-right: 15px;
  }
  p {
    color: var(--dec-color);
  }
}

.headerRight {
  display: flex;
}

.headerInfo {
  h3 {
    text-transform: uppercase;
  }
}

.listItem {
  display: flex;
  align-items: center;
  img {
    cursor: pointer;
  }
}

.listItemCart {
  img {
    margin-right: 10px;
  }
}

.listItemSum {
  font-weight: 700;
}

.listItem:not(:last-child) {
  margin-right: 23px;
}

//drawer (cart)
.drawer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawerClose {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.drawerBlock {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: var(--white-color);
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.drawerTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.drawerCarts {
  flex: 1 1 auto;
  overflow: auto;
}

.drawerBottom {
  border-top: 2px solid var(--main-bg);
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.cartInfo {
  width: 230px;
  h5 {
    margin-bottom: 5px;
  }
}

.cartPrice {
  color: var(--grey-color);
}

.cartCloseIcon {
  border: 1px solid var(--grey-color);
  border-radius: 5px;
  padding: 4px;
  width: 20px;
  height: 20px;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &:hover {
    opacity: 1;
  }
}

.cartBtn {
  position: relative;
  width: 100%;
  img {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(-50%, -50%);
  }
}

.cartList {
  padding: 0;
}

.cartListItem {
  display: flex;
  align-items: flex-end;
  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed var(--grey-color);
    margin: 0 15px;
    position: relative;
    top: -4px;
  }
}

//content
.content {
}

.contentInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.contentCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contentCard {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px;
  margin: 10px;
  border-radius: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card {
  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
}

.cardImgBlike {
  cursor: pointer;
}
.cardImg {
  margin: 0 auto;
  margin-bottom: 20px;
}
.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardDescr {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.cardPrice {
  margin-right: 40px;
  .listItemPrice {
    margin-right: 10px;
    text-transform: uppercase;
    color: var(--dec-color);
  }
  .listItemSum {
    font-weight: 700;
  }
}
.cardBtn {
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  outline: none;
  border: 1px solid var(--grey-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  img {
    width: 100%;
    height: 100%;
  }
}

.search {
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
  }
  input {
    padding: 10px 10px 10px 40px;
    border: 1px solid var(--grey-color);
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    width: 300px;
    outline: none;
    &::placeholder {
      color: var(--grey-color);
    }
  }
}
